*, *:before, *:after {
  box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    background-color: #d3d3d3;
    font-size: 22px;
    padding: 10px 25px;
    border-bottom: 2px solid gray;
}

.logo, nav {
    display: inline-block;
    margin: 0;
}

nav {
    position: absolute;
    right: 25px;
    top: 10px;

}

nav a {
    text-decoration: none;
    color: purple;
    padding: 5px;
}

